/* .customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    .customDatePickerWidth
    > div
    > div.react-datepicker__input-container
    input {
    display: block !important;
    width: 200% !important;
    height: 100% !important;
    background-color: green !important;
    border-width: 10px !important;
    border-style: solid !important;
} */

/* .react-datepicker-wrapper,
.react-datepicker__input-container {
    display: block;
}

.react-datepicker__input-container {
    width: inherit;
}

.react-datepicker-wrapper {
    width: 500%;
}

.react-datepicker {
    font-size: 1em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
} */

/* .datePickerContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex: 1 1 0px;
} */

.formFieldCustomClass {
    /* display: block !important; */
    width: 100% !important;
    /* height: 200% !important; */
    /* height: 100% !important; */
    background-color: yellow !important;
    border-width: 10px !important;
    border-style: solid !important;
    /* border-color: yellow; */
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.datePickerCustomClass {
    /* display: block !important; */
    /* width: 200% !important; */
    /* height: 200% !important; */
    /* height: 100% !important; */
    background-color: red !important;
    border-width: 10px !important;
    border-style: solid !important;
    border-color: blue;
    align-items: center;
}

.calendarCustomClass {
    width: 80% !important;
    height: 80% !important;
    background-color: pink !important;
    border-width: 10px !important;
    border-style: solid !important;
    border-color: blue;
    /* align-items: stretch; */
    /* display: table-cell; */
}

.dayCustomClass {
    /* width: 200% !important; */
    /* height: 100% !important; */
    background-color: green !important;
    border-width: 10px !important;
    border-style: solid !important;
    border-color: blue;
    color: white;
}

.popperCustomClass {
    /* width: 50% !important; */
    /* height: 100% !important; */
    background-color: pink !important;
    border-width: 10px !important;
    border-style: solid !important;
    border-color: brown;
}

/* For mobile phones: */
/* Mobile First, mobile styles first */

.container {
    /* width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5) !important; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        /* width: 100%;
        height: 100%; */
    }
}

/* For tablets: */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        /* width: 100%;
        height: 100%; */
    }
}

/* For desktop: */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        /* width: 100%;
        height: 100%; */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        /* width: 100%;
        height: 100%; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        /* width: 100%;
        height: 100%; */
    }
}

/* Resolutions */
/* @media only screen and (min-resolution: 192dpi) {} */
