.background-video-div-relative {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-video-div-absolute {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* For mobile phones: */
/* Mobile First, mobile styles first */
.background-video-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    /* background-image: url("images/thumb.png"); */
    /* background-size: auto 100%; */
    /* background-size: 100% auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-video-component-items {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* right: 0; */
    /* bottom: 0; */
    left: 0;
}

.background-video-element {
    -ms-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;
}

.background-video-color-cover {
    background-color: blue;
    /* opacity: 0.75; */
    /* z-index: 1; */
}

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */

    .background-video-element {
        display: none;
    }
}

@supports not (-webkit-overflow-scrolling: touch) {
    /* CSS for other than iOS devices */
    .background-video-element {
        /* display: block; */
    }
}

/* For tablets: */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* For desktop: */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Resolutions */
/* @media only screen and (min-resolution: 192dpi) {} */
